body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    justify-content: flex-start;
    gap: 20px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.player-info{
    align-self: center;
    display: grid;
    grid-template-columns: auto minmax(99px,99px) 1fr 0.5fr minmax(20px,20px);
    align-items: center;
    justify-content: center;
    gap: 10px;
}

input{
    max-height: 17px;
    align-self: center;
}

.game-controls{
    align-self: center;

}

.main-body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.ttt-body{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: min-content;
    height: 300px;
}

.ttt-cell{
    width: 100px;
    height: 100px;
}

#ttt-cell-0{
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}
#ttt-cell-1{
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}
#ttt-cell-2{
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}
#ttt-cell-3{
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}
#ttt-cell-4{
    border: 1px solid black;
}
#ttt-cell-5{
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}
#ttt-cell-6{
    border-right: 1px solid black;
    border-top: 1px solid black;
}
#ttt-cell-7{
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-top: 1px solid black;
}
#ttt-cell-8{
    border-left: 1px solid black;
    border-top: 1px solid black;
}

img{
    height: 99px;
    width: 99px;
}

.turnFlag{
    height: 30px;
    width: 30px;
}

.turnFlag img{
    height: 30px;
    width: 30px;
}

